# =========================
# FRONTEND
# =========================
frontend/node_modules/
frontend/.next/
frontend/.env.local

# =========================
# BACKEND
# =========================
backend/.env
backend/__pycache__/
backend/**/*.pyc

# =========================
# PYTHON (GLOBAL)
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# NODE / JS (GLOBAL)
# =========================
node_modules/
.next/

# =========================
# ENV
# =========================
.env
.env.local

# =========================
# LOGS
# =========================
*.log

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/